@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

/* Theme colors */

    html {
        --header-logo-image: url('/sql-saturdays.png');
        --header-logo-width: 195px;
        --header-logo-height: 112px;

        --theme-black: rgb(0, 0, 0);
        --theme-white: rgb(255, 255, 255);
        --theme-color-1: rgb(71, 147, 224);
        --theme-border: rgb(33, 37, 41);

        --header-background: rgb(255, 255, 255, 0.65);

        --answer-panel: rgb(236, 236, 236);
        --answer-border: rgb(192, 192, 192);

        --border-color: rgb(0, 0, 0, 0.5);
    }










/* Styling the page, including font, background image/color, etc: */

    body {
        background-image: var(--background-image);
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Roboto Slab';
    }

/* Page header image */

    img.header-logo {
        content: var(--header-logo-image);
        width: var(--header-logo-width);
        height: var(--header-logo-height);
    }

/* The title of the session */

    .header .title {
        font-size: 150%;
        font-weight: bold;
        font-family: Montserrat;
    }

/* Question cards and answers */

    .answers {
        background-color: var(--answer-panel);
        border-style: solid;
        border-width: 1px;
        border-color: var(--answer-border);
        border-radius: 1rem;
    }


    .annotations {
        color: rgb(0, 0, 0, 0.75);
    }

    .question textarea {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.20);
        font-family: inherit;
        font-size: inherit;
    }

    .question.bad, .question.avg, .question.good {
        backdrop-filter: blur(1.5rem);
        border-left-width: 4px;
        border-right-width: 1px;
        border-style: solid;
    }

    .question.bad {
        border-top-color: rgb(255, 0, 0, 0.75);
        border-left-color: rgb(255, 0, 0, 0.75);
        border-right-color: rgb(128, 0, 0, 0.75);
        border-bottom-color: rgb(128, 0, 0, 0.75);
    }

    .question.avg {
        border-top-color: rgb(255, 200, 0, 0.75);
        border-left-color: rgb(255, 200, 0, 0.75);
        border-right-color: rgb(160, 128, 0, 0.75);
        border-bottom-color: rgb(160, 128, 0, 0.75);
    }

    .question.good {
        border-top-color: rgb(0, 200, 0, 0.75);
        border-left-color: rgb(0, 200, 0, 0.75);
        border-right-color: rgb(0, 96, 0, 0.75);
        border-bottom-color: rgb(0, 96, 0, 0.75);
    }

/* Footer button */

    .footer button.done {
        background-color: var(--theme-color-1);
        color: var(--theme-white);
        font-weight: bold;
        border-radius: 0.5rem;
        border-style: solid;
        border-width: 1px;
        border-color: var(--theme-border);
    }

    .footer button.done:hover {
        filter: brightness(125%);
    }

    .footer button.done:active {
        filter: brightness(150%);
    }

/* Session overview */

    body.sessions-page .search {
        font-family: inherit;
        font-size: inherit;
    }

    .session .title {
        font-weight: bold;
        color: var(--theme-color-1);
        text-decoration: none;
        text-decoration-color: rgb(0, 0, 0);
        text-decoration-thickness: 1px;
    }

    .session:last-child {
        border-bottom-style: solid;
    }

    .session .title:visited {
        text-decoration-color: rgb(160, 160, 160);
        color: rgb(160, 160, 160);
    }

    .session .title:hover,
    .session .title:focus { /*
        color: rgb(0, 192, 0);
        text-decoration-color: rgb(0, 192, 0); */
        filter: brightness(150%);
        text-decoration-style: dotted;
        outline: none;
    }

    .session .speakers {
        display: block;
        font-style: italic;
    }

